html {
    position: relative;
    min-height: 100%;
}

body {
  padding: 0px;
  margin: 0 0 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width:100%;
  height:auto;
  background-color:orange;
}

a {
  color: white;
  text-decoration:none;
}

nav, footer, .sidebar {
    padding:10px;
    color:white;
    text-align:center;
    position:relative;
    width:100%;

}

#brand {
    padding:0;
    margin:0;
}

#brand:hover {        
    opacity:1;
    padding:0;
    margin:0;
    background-color:black;
}


nav {
    position:absolute;
    font-size:150%;
}


nav > ul, footer, .sidebar > ul {
    list-style-type:none;
    
}

nav > ul > li,#log, #log .btn {
    margin:7%;
   
}

nav > ul>li>a, footer>a, #log {
    color:white;
    text-decoration:none;
    font-style:none;
    padding-right:4%;
    padding-left:4%;
    padding-top:25px;
    padding-bottom:25px;
}

nav > ul>li>a:hover{
    color:black;
    text-decoration:none;
    opacity:0.95;
    background-color:white;
    height:100%;
    
}

#log .btn {
    color:white;
    background-color:black;
    border:none;
}

.log {
    position:absolute;
    text-align:right;
    display:inline;
    margin-left:10%;
}

main {
    padding-top:8%;
    margin:auto;
    text-align:left;
    width:90%;
    font-size:120%;
    line-height:140%;
}

#contact a, main a {
    color:grey;
}


main >  div > h2 {
    padding-bottom:10px;
}


footer {
    text-align:center;
    width:100%;
    position:absolute;
    overflow:hidden;
    margin-top:30%;


}

 footer >a:hover {
     text-decoration:underline;
}

footer li {
    list-style-type:none;

}


.event { 
   position: relative; 
   background-image:url(/images/popcorn.jpg);
   width: 100%; /* for IE 6 */
   margin:10px;
   
}

.event > h2 { 
   position: relative; 
   width: 90%; 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   margin:auto;


}

.event > p {
   position: relative; 
   width: 90%; 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   margin:auto;
   display:none;
    
   
}

p:target {
    display:block;
}

.op, .datestamp, .reply {
    display:inline;
    padding:5%;
    font-size:70%;
    text-align:left;
}

.op{
    padding-left:0;
}

.post {
    margin-left:4%;
    padding:2px;
    padding-top:1%;
}

.post-content {
    padding:0;
    margin:-1%;
}

.calendrier{
    float:left;
    width:75%;
}

.annonces{
    float:right;
    width:20%;
}

.sub {
    display:none;
}

.sub:target {
    display:block;
}

#sub-list li {
    display:inline;
    padding:5%;
}

.page-header {
    padding:10px;
}

.tasks {
    margin-bottom:3%;
    border:3px solid black;
    padding:10px;
}

dt {
    display:inline;
    font-size:110%;
    font-weight:bold;
}
