li {
  display: inline;

}

nav {
  width:90%;
  margin: auto;
  height:15%;
}

nav a {
  display: inline-block;
  padding: 2%;
  background-color: black;
  color:white;
  text-align: center;
  text-decoration: none;
  height: 100%;
  border-radius: 3px;
}

.icon {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("../images/fbr.jpg") no-repeat;
  border-radius: 100px;
  background-size: 80px;
  background-position: 0;
  text-underline-position: 0;
}

body {
  background-color:lightgrey;
  font: 14px;
}

main {
  width:80%;
  margin: auto;
  text-align: justify;
  
}

section {
  background-color: white;
  border: black 3px solid;
  padding: 2%;
  border-radius: 10px;
}