.me-image {
  border: solid 2px black;
  border-radius: 50rem;
}

.social-media div{
  margin: .5rem;
}

.social-media div:hover{
  opacity: .5;
}

main, main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hurtubise {
  display: none;
}
